
*{
    padding:0px;
    margin: 0px;
    box-sizing: 0;
}

.timer{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.stop-watch{
    font-family:  "Noto Serif", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight:bold;
    font-size: 50px;
    margin-bottom: 10px;

}

.timer-container{
    background-color: rgb(202, 198, 198);
    border-radius: 10px;
    width:500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    gap:30px;
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.6);
    
}
.timer-display{
    font-weight:bold;
    font-size: 55px;
    align-items: center;
    text-align: center;
    background-color: gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px ;
    border-radius: 20px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);

}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    gap:20px;
    margin-bottom: 10px;
    color:white;
}
.start-btn{
    width:80px;
    height: 40px;
    background-color: green;
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.start-btn:hover{
    background-color: #006400;
}


.stop-btn{
    width:80px;
    height: 40px;
    background-color: rgb(214, 16, 16);
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.stop-btn:hover{
    background-color: #8B0000;
}
.reset-btn{
    width: 80px;
    height: 40px;
    background-color: rgb(1, 24, 24);
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.reset-btn:hover{
    background-color: rgb(36, 70, 70);
}